@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;   /* batas lebar aman */
    margin: 0 auto;      /* selalu tetap di tengah */
    padding: 0 20px;     /* ruang kiri kanan agar rapi */
}

body {
    min-width: 360px; /* mencegah website gepeng saat dikecilkan */
}
body{
    background-color: #313647;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    min-height: 100vh;
    color: #fff;
}

    .search-container {
    width: 100%;
    display: flex;
    justify-content: center; /* posisi horizontal */
    }

    #searchInput {
    width: 80%;
    padding: 10px;
    font-size: 12px;
    border: 2px solid #ddd;
    border-radius: 6px;
    align-items: center;
    outline: none;
    transition: 0.3s;
    }

    #searchInput:focus {
    border-color: #313647;
    }

#dataList li {
  padding: 10px;
  background: #f5f5f5;
  margin-bottom: 6px;
  border-radius: 6px;
  list-style: none;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
    
}
::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 100px;
}
.topHeadlines .right .topNews ::-webkit-scrollbar{
    width: 5px;
}
.topHeadlines .right .topNews ::-webkit-scrollbar-thumb{
    background-color: #fff;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between; /* posisi kiri */
  align-items: center;
  padding: 10px 50px;
  background-color: #ffffff;
  width: 100%; /* header full width */
}

.logo img {
  height: 70px;
  width: auto;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 15px;
    padding: 0 10px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transition: 0.2;
}
nav ul li:hover{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    text-decoration: underline #313647;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #313647;
    letter-spacing: 1px;
}
.topHeadlines{
    padding: 100px 50px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.topHeadlines .left{
    padding: 10px 30px;
}
.topHeadlines .left > .title{
    font-size: 20px;
    padding: 15px;
    text-align: center;
}
.topHeadlines .left .img{
    width: 100%;
    height: 400px;
    background-color: aqua;
}
.topHeadlines .left .img img{
    width: 100%;
    height: 100%;
}
.topHeadlines .left .text{
    padding: 15px 10px 5px;
}
.topHeadlines .left .text .title a{
    text-decoration: none;
}
.topHeadlines .left .text .title a h2{
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 1px;
    display: inline;
    cursor: pointer;
    text-decoration: underline #313647;
}
.topHeadlines .left .text .title a h2:hover{
    text-decoration: underline;
}
.topHeadlines .left .text .description{
    font-size: 15px;
    margin-top: 10px;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: justify;
}
.topHeadlines .right{
    padding: 20px;
    width: 1005;
    height: 400px;
    /* background-color: aqua; */
}
.topHeadlines .right > .title h2{
    font-size: 20px;
    padding: 15px;
    text-align: center;
}
.topHeadlines .right .topNews{
    padding: 7px;
    height: 85%;
    border: 1px solid #fff;
    border-radius: 4px;
    overflow-y: scroll;
}
.topHeadlines .right .topNews .news{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 10px;
}
.topHeadlines .right .topNews .news .img{
    width: 170px;
    height: 120px;
    background-color: #FDEB9E;
}
.topHeadlines .right .topNews .news .img img{
    width: 100%;
    height: 100%;
}
.topHeadlines .right .topNews .news .text{
    margin-inline: 10px;
}
.topHeadlines .right .topNews .news .text .title{
    cursor: pointer;
}
.topHeadlines .right .topNews .news .text .title:hover{
    text-decoration: underline;
}
.page2{
    width: 100%;
    background-color: #ffffffff;
    min-height: 100vh;
    padding: 50px;
}
.page2 .news{
    padding: 20px 0;
    border-bottom: 1px solid #313647;
}
.page2 .news:last-child{
    padding: 20px 0;
    border-bottom: none
}
.page2 .news > .title h2{
    font-size: 40px;
    color: #313647;
    cursor: pointer;
    display: inline;
}
.page2 .news > .title h2:hover{
    text-decoration: underline;
}
.page2 .news .newsBox{
    width: 100%;
    background-color: #313647;
    margin-top: 20px;
    display: flex;
}
.page2 .news .newsBox .newsCard{
    width: calc(100% / 5 - 20px);
    margin: 10px;
    background-color: #313647;
}
.page2 .news .newsBox .newsCard .img{
    width: 100%;
    height: 150px;
    background-color: black;
}

.page2 .news .newsBox .newsCard .img img{
     width: 100%;
    height: 100%;   
}
.page2 .news .newsBox .newsCard .text{
    padding: 10px;
}
.page2 .news .newsBox .newsCard .text .title p{
    font-size: 15px;
    display: inline;
    cursor: pointer;
}
.page2 .news .newsBox .newsCard  .title p:hover{
    text-decoration: underline;
}
